<content id="main-grid" class="glass-parent">
    <div class="glass">
        <% if(data.user == null) { %>
        
            <h2>없는 사용자이거나 대상 프로필을 볼 권한이 없습니다.</h2>

        <% } else { %>
            
            

        <% } %>
    </div>
</content>