<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/1glass.css">
    
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script>
    $(function(){
       $(".nav_gnb").click(function(e){
          e.preventDefault();
          $(".nav_bg").slideToggle();          
       });
   </script>
   //jquery를 통해 navbar 생겼다 없어졌다함
<body>
    
    <nav>
        <h2 class="ir_pm">nav</h2>
            <div class="nav_bar">
                <div class="row">
                    <div class="nav_gnb">   
                        <ul>
                            <li><a href="">전체메뉴</a></li>
                        </ul>
                    </div>
                    <div class="nav_bg">
                        <div class="navbox">
                            <h3>사용자</h3>
                        <ul>
                            <li><a href="">이름</a></li>
                            <li><a href="">식별용 ID</a></li>
                            <li><a href="">로그인 ID</a></li>
                            <li><a href="">소개글</a></li>
                            <li><a href="">사용 가능한 언어 목록</a></li>
                            <li><a href="">참여하는 프로젝트</a></li>
                        </ul>
                    </div>
                        <div class="navbox">
                            <h3>Todo</h3>
                        <ul>
                            <li><a href="">Todo 식별용 ID</a></li>
                            <li><a href="">만료 기한</a></li>
                            <li><a href="">할 내용</a></li>
                            <li><a href="">완료 시점</a></li>
                            <li><a href="">완료 여부</a></li>
                            <li><a href="">연결된 프로젝트</a></li>
                            <li><a href="">수행할 사용자</a></li>
                        </ul>
                    </div>
                        <div class="navbox">
                            <h3>프로젝트</h3>
                        <ul>
                            <li><a href="">프로젝트 식별용 ID</a></li>
                            <li><a href="">프로젝트 제목</a></li>
                            <li><a href="">프로젝트 설명</a></li>
                            <li><a href="">프로젝트에서 사용하는 언어</a></li>
                            <li><a href="">함께하는 사용자</a></li>
                            <li><a href="">프로젝트 종료 기한</a></li>
                        </ul>
                </div>
            </div>    
        </div>
    </div>
</nav>
    <section>
        <div class="glass-parent" style="background-image:url(images/background.jpg); display:grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 1rem;
            grid-column-gap: 1rem;">  
            <div class="cont1">
                    <div class="notice" >
                        <h4>내가 하고 있는 프로젝트</h4>
                            <ul>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                            </ul>
                    </div>
                </div>
                    <div class="cont2">
                        <div class="notice2">
                            <h4>참여 중인 Project진행 상황</h4>
                                <ul>
                                    <li><a href="#">질문1</a></li>
                                    <li><a href="#">질문2</a></li>
                                    <li><a href="#">질문3</a></li>
                                    <li><a href="#">질문4</a></li>
                                </ul>
                            </div>
                    </div>
                        <div class="cont3">
                            <div class="notice3">
                                <h4>할 일</h4>
                                    <ul>
                                        <li><a href="#">내용내용</a></li>
                                        <li><a href="#">내용내용</a></li>
                                        <li><a href="#">내용내용</a></li>
                                        <li><a href="#">내용내용</a></li>
                                    </ul>
                                    </div>
                                </div>
                        <div class="cont4">
                            <div class="notice4">
                                <h4>했던 일</h4>
                                    <ul>
                                        <li><a href="#">100%</a></li>
                                        <li><a href="#">70%</a></li>
                                        <li><a href="#">40%</a></li>
                                        <li><a href="#">20%</a></li>
                                    </ul>
                            </div>
                        </div>
                </div>
    </section>
</body>
</html>