<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSS.말많은양의왕</title>

    <!--style-->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/oss.css">

    
</head>
<body>
    <div id="wrap">
        <div id="header" role="header">
            <div class="container">
                <div class="header">
                    <div class ="header-menu">
                        <a href="https://www.FaceBook.com/">FaceBook</a>
                        <a href="https://www.Instagram.com/">Instargram</a>
                        <a href="https://www.youtube.com">Youtube</a>
                    </div>
                    <!--//헤더 메뉴 title의 경우 프젝명 바뀌면 바꾸면돼-->
                    <div class="header-tit">
                        <h1>OSS &amp; 말많은양의왕</h1><br>
                        <a href="https://.........">xxxx바로가기</a> 
                    </div>
                    <!--//헤더 타이틀-->
                    <div class="header-icon">
                        <a href="#" class="icon1"><span class="ir_pm">icon1</span></a>
                        <a href="#" class="icon2"><span class="ir_pm">icon2</span></a>
                        <a href="#" class="icon3"><span class="ir_pm">icon3</span></a>
                        <a href="#" class="icon4"><span class="ir_pm">icon4</span></a>                
                    </div>
                    <!--//헤더 아이콘-->
            </div>
        </div>
    </div>
    <!-- //header-->

    <div id ="contents">
        <div id ="cont_nav">
            <div class="container">
                <h2 class="ir_su">전체 메뉴</h2>
                    <div class="nav">
                        <div>
                            <h3>TARGET</h3>
                            <ol>
                                <li><a href="#">웹프로그래밍</a></li>
                                <li><a href="#">풀스택개발</a></li>
                                <li><a href="#">프론트앤드</a></li>
                                <li><a href="#">웹퍼블리셔</a></li>
                                <li><a href="#">안드로이드APP</a></li>
                                <li><a href="#">게임프로그래밍</a></li>
                                <li><a href="#">정보보안</a></li>
                                <li><a href="#">빅데이터</a></li>
                                <li><a href="#">머신러닝</a></li>
                                <li><a href="#">코딩테스트준비</a></li>
                                <li><a href="#">C패키지</a></li>
                                <li><a href="#">네트워크 트러블슈팅</a></li>
                                <li><a href="#">서버관리자</a></li>
                            </ol>
                        </div>
                        <div>
                            <h3>STUDY</h3>
                            <ol>
                                <li><a href="#">IT기초</a></li>
                                <li><a href="#">JAVA</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">C언어</a></li>
                                <li><a href="#">C++</a></li>
                                <li><a href="#">파이썬 어드밴스</a></li>
                                <li><a href="#">JSP</a></li>
                                <li><a href="#">Spring</a></li>
                                <li><a href="#">안드로이드</a></li>
                                <li><a href="#">HTML/CSS</a></li>
                                <li><a href="#">자바스크립트</a></li>
                                <li><a href="#">자료구조/알고리즘</a></li>
                                <li><a href="#">CCNA</a></li>
                                <li><a href="#">CCNP</a></li>
                            </ol>
                        </div>
                        <div class="last">
                            <h3>aaa</h3>
                            <ol>
                                <li><a href="#">s</a></li>
                                <li><a href="#">a</a></li>
                                <li><a href="#">b</a></li>
                                <li><a href="#">a</a></li>
                                <li><a href="#">b</a></li>
                                <li><a href="#">a</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //cont_nav -->
            


</body>

</html>
