<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Installation</title>
        
        <style type="text/css">
            *{
                margin:0; padding:0;box-sizing:border-box;
            }

            label{
                display:inline-block;
                width:8rem;
                text-align:right;
                margin-right:0.5em;
            }

            input{
                font-size:1rem;
            }
            
            input{
                padding:0.3em 0.7em;
                border:0;
                border-radius:0.3em;
            }
            input:focus{
                outline:none;
                box-shadow:0 0 0.3em #9299ff;

            }

            input[type="submit"]{
                background-color:#FFF;
                transition:box-shadow 200ms;
            }

            input[type="submit"]:focus, input[type="submit"]:hover{
                box-shadow: 0 0 0.4rem rgba(0,0,0,0.3);
            }

            .padder{
                margin:0 auto;
                margin-top:0.3em;
                margin-bottom:0.5em;
            }

            .padder:last-child{
                margin-bottom:0;
            }

        </style>
        <link rel="stylesheet" type="text/css" href="/stylesheets/glass.css">

    </head>
    <body class="glass-parent" style="display:grid; background-image:url(/images/background.jpg);">
        <div id="content" style="width:34rem; padding:1rem;">
                <h1 style="text-align:center">Hello world!</h1>
                <p style="text-align:center; font-size:1.5em; margin-bottom:1em; border-bottom:1px solid #888; padding-bottom:0.7em;">설치 페이지</p>
                <% if(method && method == 'get') { %>
                    <form method="post" id="sender">
                        <fieldset style="border:0; ">
                            <legend style="margin-bottom:1em; text-align:center;">데이터베이스 접근 정보 입력</legend>
                            <div class="padder">
                                <label>Host</label><input type="text" name="dbHost" value="localhost" placeholder="DB Host">
                            </div>
                            <div class="padder">
                                <label>ID</label><input type="id" name="dbId" value="root" placeholder="DB USER ID">
                            </div>
                            <div class="padder">
                                <label>Password</label><input type="password" name="dbPassword" value="toor" placeholder="DB USER PASSWORD">
                            </div>
                            <div class="padder">
                                <label>DB Name</label><input type="text" name="dbName" value="teamOSS" placeholder="DB NAME">
                            </div>
                        </fieldset>
                        <div style="margin-top:1rem;border-top:1px solid #888; padding-top:1rem;">
                            <input type="submit" style="float:right; width:8rem; cursor:pointer;" value="등록">
                        </div>
                    </form>
                <% } else{ %>
                    <p><%- value %></p>
                    <% if(result == false){ %>
                        <p style="border-top:1px solid #888;padding-top:1rem; margin-top:2rem; text-align:right"><a href="/" style="color:rgb(81, 131, 224); text-decoration:none">이전 페이지로</a></p>
                    <% } %>
                <% } %>
        </div>
    </body>
</html>