<html lang="ko">
<head>
    <title>8조 말 많은 양의 왕 프로필</title>
    <link rel="stylesheet" href="/stylesheets/navi.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <%- include('navigation') %>
    
    <header><h1>언어 사용자 목록</h1></header>
    
    <pro>
        <ul class="pro-container" >
            
        <div>
            <class="pro-item">C/C++ <a href="profile"><br>user1</a></li>
            </div>
            
        <div>
            <class="pro-item">C# <a href="profile"><br>user2</a></li>
            </div>
            
        <div>
            <class="pro-item">Java <a href="profile"><br>user3</a></li>
            </div>
        <div>
            <class="pro-item">Js <a href="profile"><br>user4</a></li>
            </div>
            
        <div>
            <class="pro-item">Python <a href="profile"><br>user5</a></li>
        </div>
        </ul>

    </pro>
    
    
</body>

</html>
