<%#

    필수로 서버에서 받을 값:
        - css(list)
        - content



%>
<!DOCTYPE html>
<html>
    <head>
        <%- include('common/preHeader') %>
    </head>
    <body>
        <%- include('common/header') %>
        
        <%- include(`content/${content}`) %>

    </body>
</html>