<!DOCTYPE html>
<html>
    <head>
        <%- include('common/preHeader') %>
    </head>
    <body>
        <%- include('common/header') %>
        <content>
            <%- include(content) %>
        </content>

    </body>
</html>