<nav>
    <h2 class="ir_pm">nav</h2>
        <div class="nav_bar">
            <div class="row">
                <div class="nav_gnb">   
                    <ul>
                        <li><a href="">전체메뉴</a></li>
                    </ul>
                </div>
                <div class="nav_bg">
                    <div class="navbox">
                        <h3>사용자</h3>
                    <ul>
                        <li><a href="">이름</a></li>
                        <li><a href="">식별용 ID</a></li>
                        <li><a href="">로그인 ID</a></li>
                        <li><a href="">소개글</a></li>
                        <li><a href="">사용 가능한 언어 목록</a></li>
                        <li><a href="">참여하는 프로젝트</a></li>
                    </ul>
                </div>
                    <div class="navbox">
                        <h3>Todo</h3>
                    <ul>
                        <li><a href="">Todo 식별용 ID</a></li>
                        <li><a href="">만료 기한</a></li>
                        <li><a href="">할 내용</a></li>
                        <li><a href="">완료 시점</a></li>
                        <li><a href="">완료 여부</a></li>
                        <li><a href="">연결된 프로젝트</a></li>
                        <li><a href="">수행할 사용자</a></li>
                    </ul>
                </div>
                    <div class="navbox">
                        <h3>프로젝트</h3>
                    <ul>
                        <li><a href="">프로젝트 식별용 ID</a></li>
                        <li><a href="">프로젝트 제목</a></li>
                        <li><a href="">프로젝트 설명</a></li>
                        <li><a href="">프로젝트에서 사용하는 언어</a></li>
                        <li><a href="">함께하는 사용자</a></li>
                        <li><a href="">프로젝트 종료 기한</a></li>
                    </ul>
            </div>
        </div>    
    </div>
</div>
</nav>