<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>8조 말 많은 양의 왕</title>
    <link rel="stylesheet" href="/stylesheets/navi.css">
</head>
<body>
    <header><h1>말 많은 양의 왕</h1></header>
<nav>
    <ul class="nav-container">
        <li class="nav-item"><a href="profile">프로필</a></li>
        <li class="nav-item"><a href="project_main">프로젝트 </a></li>
        <li class="nav-item"><a href="">소개_2 </a></li>
        <li class="nav-item"><a href="">소개_3 </a></li>
        <li class="nav-item"><a href="">소개_4 </a></li>
    </ul>
</nav>

</body>
</html>