<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>8조 말 많은 양의 왕</title>
    <link rel="stylesheet" href="/stylesheets/navi.css">
</head>
<body>
    <header><h1>네비게이션 테스트</h1></header>
<nav>
    <ul class="nav-container">
        <li class="nav-item"><a herf="">FrogIT </a></li>
        <li class="nav-item"><a herf="">소개_1 </a></li>
        <li class="nav-item"><a herf="">소개_2 </a></li>
        <li class="nav-item"><a herf="">소개_3 </a></li>
        <li class="nav-item"><a herf="">소개_4 </a></li>
    </ul>
</nav>

<section><P>테스트 본문</P></section>
<p class="w">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
		<p class="x">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
		<p class="y">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
		<p class="z">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
</body>
</html>