<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/navi.css">
</head>
<body>
    <header><h1>말 많은 양의 왕</h1></header>
<nav>
    <ul class="nav-container">
        <a href="language_list"><li class="nav-item">언어 사용자 목록</li></a>
        <a href="project"><li class="nav-item">프로젝트</li></a>
        <a href="my_profile"><li class="nav-item">개인 프로필</li></a>
      
    </ul>
  
</nav>

</body>
</html>