
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/pagenation.css">
</head>
<contant>
	<!-- .pagination>a[href="#"]*11>{$} -->
	<div class="pagination">
		<% for(let i=1; i <=8; i++){ %>
			<a href="#">
				<%- i %>
			</a>
			<% } %>
				<a href="#">&gt;</a>
				<a href="#">&raquo;</a>
	</div>
</contant>


