<html lang="ko">
<head>
    <title>8조 말 많은 양의 왕 프로필</title>
    <link rel="stylesheet" href="/stylesheets/navi.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <iframe src="navigation" width="1280" height="120 " marginwidth="0"marginheight="0" frameborder="0"></iframe>
</head>
<body>
    <header><h1>프로필</h1></header>
    <pro>
        <ul class="pro-container" >
            
        <div>
            <li class="pro-item">C/C++ :<a href="">user1</a></li>
            </div>
            
        <div>
            <li class="pro-item">C# : <a href="">user2</a></li>
            </div>
            
        <div>
            <li class="pro-item">Java :<a href="">user3</a></li>
            </div>
        <div>
            <li class="pro-item">Js :<a href="">user4</a></li>
            </div>
            
        <div>
            <li class="pro-item">Python :<a href="">user5</a></li>
        </div>
        </ul>

    </pro>
    
    
</body>

</html>
