<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    
</head>
<body> 
    <%- include('navigation') %>
 
<div class="container">
    <h1>프로필</h1>
    <br>
    <img id="myimage" src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:60px">

</div>
<div class="media-body">
<h4 class="media-heading" id="name">이름</h4>
<h4 class="media-heading" id="project">참여 프로젝트</h4>
<h4 class="media-heading" id="language">사용가능 언어</h4>

<div id="statetxtP">
    <p id="statetxt"></p>
</div>
</div>
<br>
<hr>

<br>

        <!-- 설명 출력-->
        <div class="container">
            <h3>설명:</h3>
            <br>
            <p>안녕하세여 저는 홍길동 입니다.</p>
            <!-- 설명 붙힐 곳-->
            <div class="thanksList"></div>

        </div>
</div>    
</body>
</html>