<head>
    <link rel="stylesheet" href="/stylesheets/project_form.css">
</head>

<body>
    <section class="project-form">
        <form action="" method="post">
            <fieldset>
                <legend style="text-align: center;">사용자 정보 수정</legend>
                <div class="int-area">이름<label for="pj"><input type="text" name="pj" id="pj" required></label>
                </div>
                <br>
                <div class="int-area">사용가능 언어 <input type="text" name="ls" id="ls"  required><label for="ls"></label>

                </div>
             
                <div class="int-area" >
                    <P>수정할 언어</P>

                </div>
                <div class="int-checkbox" style="margin: 0px 0px 20px 0px;">
                    <label><input type="checkbox" name="language" value="c/c++" >c/c++</label>
                    <label><input type="checkbox" name="language" value="java" >java</label>
                    <label><input type="checkbox" name="language" value="c#" >c#</label>
                    <label><input type="checkbox" name="language" value="js" >js</label>
                
                </div>
                
                <div class="btn-area">
                    <button>수정</button>
                </div>

            </fieldset>
        </form>
    </section>
</body>

</html>