<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="stylesheets/profile1.css">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/glass.css">
    
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

   <body>
    <header>
        <h1 class="ir_pm">header</h1>
            <div class="header_top">
            <div class="row">
                <div class="header_cont">
            <div class="title">
                <p>OSS &amp; 말많은양의왕</p>
            </div>
            <div class="header_nav">
                <ul>
                    <li><a href="">이름</a></li>
                    <li><a href="">내정보</a></li>
                    <li><a href="">프로젝트</a></li>
                    <li><a href="">프로필</a></li>
                    <li><a href="">로그아웃</a></li>    
                </ul>
            </div>    
        </div>
    </div>
</div>                 
    </header>
    <section>
        <div class="glass-parent" style="background-image:url(images/background.jpg);
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 1rem;
            grid-column-gap: 1rem;">  
            <div class="cont1">
                    <div class="notice" >
                        <h4>상세프로필</h4>
                            <ul>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                                <li><a href="#">내용내용</a></li>
                            </ul>
                    </div>
                </div>
    </section>
</body>
</html>

