<head>
 <link rel="stylesheet" href="/stylesheets/project.css">
</head>

<main>
  <%- include('navigation') %>
 <div class="main-container">
    <div class="temp-box1">프로젝트명</div>
    <div class="temp-box2">내용</div>
    <div class="temp-box3">참여 명단</div>
    <div class="temp-box1">프로젝트명</div>
    <div class="temp-box2">내용</div>
    <div class="temp-box3">참여 명단</div>
    <div class="temp-box1">프로젝트명</div>
    <div class="temp-box2">내용</div>
    <div class="temp-box3">참여 명단</div>
   
      </div>
</main>