<head>
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="stylesheet" href="/stylesheets/glass.css">
</head>

<content>

    <div class="outer">
        <div class=btn>
            <button id="changeBtn" type="button"><a href="project_form">프로젝트 추가</a></button>
        </div>

        <div class="glass-parent">

            <% for(let i=0; i < 4; i++){ %>

                <div class="temp-box3">
                    <div class="box3"><a href="project_main">프로젝트명</a></div>
                    <br>
                    <div class="box3">내용</div>
                    <br>
                    <div class="box3">참여 명단</div>
                    <br>
                </div>
                <% } %>
                
        <%- include('pagenation') %>
        </div>
        
    </div>
    
</content>