
<contant>
        <div class="outer">
            <header style="margin: 20px; text-align: center;">
                <h1>프로젝트 명</h1>
            
                <a href="project_edit"><button class="check">수정하기</button></a>

            </header>


            <contant>
                <div class="item" >
                    <label name="lastday">
                        <p>종료일</p>
                    </label>                    
                    <div class="item-lang" id="scrollbar">사용한 언어/스택
                        <% for(let i=0; i < 20; i++){ %>
                            <p><label>lang</label></p>
                            <% } %>
           
                    </div>

                    <div class="item-pro" id="scrollbar">
                        <div class="item-list">

                            <label>sakldmasdklsamdlkasmkasldmaskldmasdlksadlkamslakmasklmasklaklasmdlkasdmaslkdsadklamdlkasdmlkasmdaskldmaskldmasdlkasmdlasmdaklsmdalskdmasldmasdlkasmdlkasmdlaksdmaslkdm</label>
                        </div>
                    </div>

                    <div>
                        <div class="item-user" id="scrollbar">

                            <div class="item-list">
                                <p>함께하는 사용자</p>
                                <% for(let i=0; i < 20; i++){ %>
                                    <p><label>user</label></p>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="item-todo" id="scrollbar">
                       
                        <div class="int-checkbox">
                            
                            <p>To Do List</p>
                            <% for(let i=0; i < 12; i++){ %>
                                <label><input type="checkbox" name="language"value="java"><span>sadaspodasdklasdjaskld</span></label>
                                <% } %>
                        </div>


                    </div>

                </div>
            </contant>
        </div>
    </div>
</contant>
