<html lang="ko">
<head>
    <title>8조 말 많은 양의 왕 프로필</title>
    <link rel="stylesheet" href="/stylesheets/project_main.css">
</head>
<body>
    <%- include('navigation') %>
	
    <header><h1>프로젝트 명</h1></header>
    
    
        <ul class="container">
			<div class="lang">사용된 언어<br>c/c++java </li></div>
			<div class="pro">프로젝트 내용<br>kasmdlakmdalkdmalkdmadlkamdlamdlasddsadadasdsadadadasdasdsadadasdadkasmd</li></div>
        <div class="list">참여자 명단<br></li></div>
        </ul>

    
    
</body>

</html>
