<head>
    <link rel="stylesheet" href="/stylesheets/project_form.css">
    <link rel="stylesheet" href="/stylesheets/glass.css">
    <link rel="stylesheet" href="/stylesheets/checkbox.css">
    <link rel="stylesheet" href="/stylesheets/scrollbar.css">

</head>

<contant>

    <div class="project-form">
        <form action="" method="post">

           

                <div class="glass-parent">
                    <legend style="text-align: center;">프로젝트 추가</legend>       
                    <label>프로젝트 명 입력
                    </label>
                    <div class="int-area"><input type="text" name="pj" id="pj" required>
                    </div>

                    <div class="int-textarea">
                        <label>
                            <p>프로젝트 내용 입력</p>
                        </label>
                        <textarea name="pp" id="scrollbar" value="pp" required></textarea>
                    </div>
                    <div class="int-day">
                        <label>
                            <p>종료일 설정</p>
                        </label>
                        <input type="date" name="lastday" value="lastday">

                    </div>
                    <div class="int-checkbox" style="text-align:center; ">
                        <P>사용할 언어 선택/스택</P>
                        <% for(let i=0; i < 9; i++){ %>
                            <label>
                                <input type="checkbox" name="language" value="c/c++"><span>c++</span>
                            </label>
                            <label>
                                <input type="checkbox" name="language" value="c/c++"><span>c#</span>
                            </label>
                            <label>
                                <input type="checkbox" name="language" value="c/c++"><span>아희</span>
                            </label>

                            <label>
                                <input type="checkbox" name="language" value="c/c++"><span>HTML/CSS</span>
                            </label>

                            <% } %>

                    </div>
                    <div class="btn-area">
                        <button>만들기</button>
                    </div>
                </div>
        </form>
    </div>
</contant>