<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
    <title>8조 말 많은 양의 왕 프로필</title>
    <link rel="stylesheet" href="/stylesheets/navi.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <iframe src="navigation" width="1280" height="120 " marginwidth="0"marginheight="0" frameborder="0"></iframe>

</head>

<body>

	<h1>HTML5 레이아웃</h1>
	<header>
		<h2>HEADER 영역</h2>
	</header>
	<nav>
		<h2>프로젝트 명</h2>
	</nav>
	<section>
		<p>SECTION 영역</p>
	</section>
	<footer>
		<h2>FOOTER 영역</h2>
	</footer>

</body>

</html>