<head>
 <link rel="stylesheet" href="/stylesheets/project.css">
</head>

<body>
  <%- include('navigation') %>
  
  <div class=btn style="margin: 20px 0px 0px 960px;">
    <a href="project_form"><button id="changeBtn" type="button" class="btn btn-warning">프로젝트 추가</button></a>
     </div>
  <div class="main-container" style="margin: 20px">
  
    <% for(let i = 0; i < 3; i++){ %>
     <div class="temp-box1"><a href="project_main">프로젝트명</a></div>
       <div class="temp-box2">&nbsp 내용</div>
      <div class="temp-box3">&nbsp 참여 명단</div>
   <% } %>
  </div>
  </body>
