<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/stylesheets/sign.css">

</head>

<body>
    <section class="login-form">
        <form action="" method="post">
            <fieldset>
                <legend style="text-align: center;">필수 입력</legend>
                <div class="int-area">
                    <input type="text" name="id" id="id" autocomplete="off" required>
                    <label for="id">아이디</label>
                </div>

                <div class="int-area">
                    <input type="password" name="pw" id="pw" autocomplete="off" required>
                    <label for="pw">비밀번호</label>

                </div>

                <div class="int-area">
                    <input type="text" name="name" id="name" autocomplete="off" required>
                    <label for="name">이름</label>

                </div>
                
                <div class="int-area">
                    <input type="text" name="language" id="language" autocomplete="off" required>
                    <label for="language">사용 가능언어</label>

                </div>
                
                <div class="btn-area">
                    <button id="btn" type="submit">Sig up</button>
                </div>

            </fieldset>
        </form>
    </section>
</body>

</html>