@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
body{
    display:flex;
    background-image:url(../images/background.jpg);
    min-width:44rem;
    overflow-y:hidden;
}

body > *{
    height:100vh;
}

header{
    width:26rem;
}

::-webkit-scrollbar{
    height:6px;
    width:6px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
    transition:background-color 0.3s;
    transition-delay:300ms;

}

*:hover::-webkit-scrollbar-track{
    background-color:rgba(0,0,0,0.3);
    height: 6px;
    border-radius:3px;
    overflow:hidden;
}

*:hover::-webkit-scrollbar-thumb{
    height: 6px;
    border-radius:3px;
    background-color:rgba(255,255,255,1);
}