.glass-parent{
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:auto;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    padding:1rem;
}

.glass-parent .glass{
    background:inherit;
    position:relative;
    z-index:0;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 1rem rgba(0,0,0,0.2);
    padding:1rem;
}

.glass-parent  .glass:before{
    content:'';
    background:inherit;
    filter:blur(15px);
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    margin:-20px;
}

.glass-parent .glass::after{
    content:'';
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(255,255,255,0.7);
}