header{
    position:relative;
    background-image:inherit;
    overflow:hidden;
    z-index:0;
    box-shadow:0 0 1rem rgba(0,0,0,0.2);
    display:flex;
    align-items: top;
    justify-content:center;
    padding:2rem;
}

header::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-image:inherit;
    filter:blur(30px);
    z-index:-1;
    margin:-30px;
}

header::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(255,255,255,0.7);
    z-index:-1;
}

header > div{
    width:100%;
}

header #profile-area{

}