header{
    width:100%;
    position:fixed;
    background-color:#fff;
    flex-direction:row;
    height:3rem;
    border-bottom:1px solid #ddd;
    z-index:999;
    margin:0;
    left:0;
    top:0;
}

.header{
    position:relative;
    max-width:1130px;
    width:100%;
    height:100%;
    margin: 0 auto;
}

.flex-mode{
    height:100%;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

header .title *{
    border:0 !important;
}

header .flex-mode a:last-child,
header .flex-mode li:last-child{
    border-right:1px solid #ddd;
}

header .flex-mode a,
header .flex-mode li
{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    height:100%;
    text-decoration:none;
    color:#222;
    border-left:1px solid #DDD;
}