.content-area{
    background-image:inherit;
    width:100%;
    display:grid;
    grid-gap:1rem;
    align-items:stretch;
    min-width:27rem;
    grid-template-columns:repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows:1rem;
    padding:1rem;
    overflow-y:scroll;
    overflow-x:hidden;
}

.content-area div > *:first-child{
    margin-top:0;
}
.content-area div > *{
    margin-top:1rem;
}

ul{
    list-style:none;
    width:100%;

}
ul li{
    padding:0.5rem 1rem;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

ul li:nth-child(2n){
    background-color:rgba(255,255,255, 0.1);
}
ul li:nth-child(2n - 1){
    background-color:rgba(0, 0, 0, 0.1);
}
