div{
  border: 2px solid #ffebb5;
  border-radius: 16px;
  text-align: center;
  box-shadow: inset 0 0 4px #deb13a;  
}
.pro-container{
  
  width : 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px; /* 자식요소간의 간격 */
   padding: 1rem;  
}

a { text-decoration:none ;
  color: inherit;
}