@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.main{
    width:100%;
    height:100%;
    background-image:url(../images/background.jpg);
    display:grid;
    row-gap:1rem;
    align-items: center;
    align-content:center;
}

#login{
    width:24rem !important;
}

fieldset > legend{
    font-size:1.5rem;

}