nav{
    width:100%;
    height:3rem;
    background: #fff;
    margin-top:3rem;
    border-bottom:1px solid #DDD;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav > *{
    min-width:4rem;
    margin:0 3rem;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:#222;
}
