* {
  box-sizing: border-box;
}
.pagination a {
  color: black;
  text-decoration: none;

  width: 8.3%; /* 12개니까 대충 계산하기 */
  float: left; /* a는 인라인이라 안먹으니까 추가 */
  text-align: center;
  /* 하고보니 빨간색 벗어남 => 오버플로 오토주기, pagination 가서 */
}
.pagination a:hover:not(.active) {
  /* .active 클래스를 가진 a태그는 제외시키자 (암기) */
  background: #ddd;
}
.pagination a.active {
  background: dodgerblue;
  color: white;
}
.pagination {
  /* border: 1px solid red; */ /* 기본적으로 보더는 부모꺼가 잡힌다 */
  width: 50%; /* 누구의 반이란거야? 부모 (여기선 body) */
  margin: 0 auto; /* border 가운데 정렬(항상 규칙마냥 씀) */
  overflow: auto;
}
