#profile-grid > .glass{
    height:100%;
}
form.language-filter{
    padding:1rem;
    width:100%;
    max-width: none;
}

.search-box{
    display:flex;
    flex-direction:row;
    justify-items:stretch;
    align-items:center;
    flex-flow:wrap;
    gap:0.5rem;
    margin-bottom:1rem;
}

.search-box .data-field{
    flex-grow:1;
    flex-shrink:0;
    flex-basis:1;
}

.search-box input[type='checkbox']{
    display:none;
}

.search-box input[type='checkbox'] + label{
    display:inline-block;
    width:100%;
    height:100%;
    padding:0.3rem 0.5rem;
    white-space:pre;
    border-radius:4px;
    border:1px solid #888;
    text-align:center;
    cursor:pointer;
}

.search-box input[type='checkbox']:checked + label{
    border:1px solid #333;
    background-color:#333;
    color:#fff;
}

.user-field{
    cursor:pointer;
    min-width:10rem;
}

.user-field *{
    user-select:none;
}

.user .user-name{
    text-align:center;
}

.user .user-name .user-id{
    font-size:0.8rem;
    color:#888;
}

.user .user-description{
    margin-top:0.5rem;
    padding-top:0.5rem;
    border-top:1px solid #888;
    text-overflow:ellipsis;
    word-break:break-all;
}