@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
contant {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  user-select: none;
}

.project-form {
  position: relative;
  z-index: 2;
}

.int-area {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);

  border-radius: 3px; /* 5px rounded corners */
}
.int-area:first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  height: 35px;
  margin-top: -2px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-bottom: 1.5px solid #999;
  font-size: 20px;
  color: rgb(0, 0, 0);
  outline: none;
}
.int-area label {
  user-select: none;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: all 0.5s ease;
}
.int-day {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
}
.int-day input {
  border-radius: 3px; /* 5px rounded corners */
  font-size: 1em;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.int-day input[type="date"]::-webkit-calendar-picker-indicator,
.int-day input[type="date"]::-webkit-inner-spin-button {
  display: none;
  appearance: none;
}
.int-textarea textarea {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
  border-radius: 3px; /* 5px rounded corners */
  width: 100%;
  height: 180px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1.5px solid #999;
  font-size: 20px;
  color: rgb(0, 0, 0);
  outline: none;
  resize: none;
}
.btn-area button {
  width: 100%;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
  border-radius: 3px; /* 5px rounded corners */
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 30px;
  border: none;
  user-select: none;
  cursor: pointer;
}
.int-checkbox {
  display: inline-block;
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
  border-radius: 3px; /* 5px rounded corners */
}
