content .project-title .title{
    text-align:center;
    
}
.project{
    min-width:12rem;
    transition:box-shadow 300ms;
    cursor:pointer;
    height:100%;
}

.project .wrapper{
    display:flex;
    flex-direction:column;
}

.project:hover{
    box-shadow:0 0 0.3rem rgba(0,0,0,0.6) !important;
}

.project *{
    user-select:none;
}

.project .project-title{
    font-size:1.2rem;
    margin-bottom:0.5rem;
}
.project .project-date{
    text-align:right;
    font-size:0.8rem;
    color:#888;
    margin-bottom:0.5rem;
}
