
.int-area{
    width: 50%;position: relative;
    margin-top:20px;
}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    font-size: 18px;color: rgb(0, 0, 0);
    outline: none;
    
}