content .project-title .title{
    text-align:center;
    
}
.project{
    min-width:12rem;
    box-shadow:0 0 0.5rem rgba(0,0,0,0);
    transition:box-shadow 300ms;
    cursor:pointer;
    height:100%;
}

.project .wrapper{
    display:flex;
    flex-direction:column;
}

.project:hover{
    box-shadow:0 0 0.5rem rgba(0,0,0,0.3) !important;
}

.project *{
    user-select:none;
}

.project .project-title{
    font-size:1.2rem;
    margin-bottom:0.5rem;
}
.project .project-date{
    text-align:right;
    font-size:0.8rem;
    color:#888;
    margin-bottom:0.5rem;
}

.project .language-area{
    display:flex;
    flex-wrap:wrap;
    gap: 0.5rem;
}

.project .language-area > *{
    flex-grow:1;
    flex-shrink:0;
    padding:0.2rem 0.5rem;
    background-color:#555;
    color:#FFF;
    border-radius:4px;
    text-align:center;
}
