
body {

  background: white;
    min-height: 100%;
  }
  /*:root {
  --element-radius: 50%;
  --element-back-color: red;
  }변수*/
  .main-container {
    width: 100%;    
    margin: auto;
    margin-top: 30px;    
    display: grid;
    grid-template-columns: repeat(3, 330px);
    /* 각 행(세로줄)의 길이 */
    grid-template-rows: repeat(6, 120px); /* 각 열(가로줄)의 길이 */
    gap: 30px; /* 자식요소간의 간격 */
  }
  .temp-box1 {/*플젝명*/
    user-select: none;
     
    background: white;
    width: 100%;
    height: 100px;
    font-size: 25px;
    text-align: left;
  
  }
  .temp-box2 {/*내용*/
    grid-column: 1/3;
 
    background: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 2px solid #ffebb5;
    border-radius: 16px;
    box-shadow: inset 0 0 4px #deb13a;  
    text-align: left;
    bottom:80px;
    position: relative;
  
  }
  .temp-box3 { /*참여명단*/
    
    grid-column: 3;
    background: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: left;
    border: 2px solid #ffebb5;
    border-radius: 16px;
    box-shadow: inset 0 0 4px #deb13a;  

    bottom:80px;
    position: relative;
 
  }
  a { text-decoration:none ;
      color: inherit;
  }