header {
    background-color:lightgrey;
    height:100px;
}
nav {
    background-color:#339999;
    color:white;
    width:200px;
    height:300px;
    float:right;
}
section {
    width:200px;
    text-align:left;
    float:left;
    padding:10px;
}
footer {
    background-color:#FFCC00;
    height:100px;
    clear:both;
}
header, nav, section, footer { text-align:center; }
header, footer { line-height:100px; }
nav, section { line-height:240px; }
