
main {
    background: white;
    min-height: 100%;
  }
  .main-container {
    width: 100%;    
    margin: auto;
    margin-top: 30px;
    
    display: grid;
    grid-template-columns: repeat(3, 330px);
    /* 각 행(세로줄)의 길이 */
    grid-template-rows: repeat(6, 120px); /* 각 열(가로줄)의 길이 */
    gap: 30px; /* 자식요소간의 간격 */
  }
  .temp-box1 {/*플젝명*/
    
    background: white;
    width: 100%;
    height: 100px;
    font-size: 40px;
    
    text-align: left;
  }
  .temp-box2 {/*그림*/
    grid-column: 1/3;
 
    background: white;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: 1px solid #dee3eb;
    text-align: left;
  }
  .temp-box3 { /*참여명단*/
    
    grid-column: 3;
    background: white;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: 1px solid #dee3eb;
    text-align: left;
  }