#project-detail{
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
#project-detail .title-area{
    text-align:center;
}

#project-detail .glass{
    min-width:12rem;
    height:100%;
}

#project-detail .title-area .title{
    font-size:1.4rem;

}

#project-detail .project-subtitle{
    font-size:1.1rem;
    text-align:center;
    border-bottom:1px solid #888;
    margin-bottom:0.5rem;
    padding:0.5rem;
}

#project-detail .project-date{
    color:#888;
    text-align:center;
}




#project-detail .user-area{
    display:flex;
    gap:0.5rem;
    width:100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: center;
    flex-wrap:wrap;
}

#project-detail .user-area .user{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width:6rem;
    max-width:12rem;
    flex-shrink:0;
    flex-basis:1;
    flex-grow:1;
    padding:1rem;
    box-shadow:0 0 0.5rem rgba(0,0,0,0);
    transition:box-shadow 300ms;
    cursor:pointer;
}

#project-detail .user-area .user:hover{
    box-shadow:0 0 0.5rem rgba(0,0,0,0.3) !important;
}

#project-detail .user-area .user .user-name{
    text-align:center;
}

#project-detail .user-area .user .user-name .user-loginid{
    color:#888;
    font-size:0.8rem;
}

#project-detail .user-area .user .user-descript{
    border-top:1px solid #888;
    margin-top:0.5rem;
    padding-top:0.5rem;
    overflow-wrap:break-word;
}

#project-detail .invite{
    width:100%;
    padding:0.5rem;
    border:0;
    background-color:#FFF;
    border-radius:4px;
    cursor:pointer;
    box-shadow:0 0 0.5rem rgba(0,0,0,0); 
    transition:box-shadow 300ms;
}

#project-detail .invite:hover{
    box-shadow:0 0 0.5rem rgba(0,0,0,0.3); 
}