
body {
 
  background: white;
    min-height: 100%;
  }
  /*:root {
  --element-radius: 50%;
  --element-back-color: red;
  }변수*/
  .btn button{
    border: 2px solid #deb13a;
    background-color: rgba(0,0,0, 0);
  color:#685318;
  padding: 5px;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;  
  margin-right:-4px;
  }
  .btn button:hover{
     color:white; 
     background-color: #deb13a; 
    }

  .main-container {
    display: grid;
    place-items: center;
    width: 100%;    
    margin: auto;
    margin-top: 30px;    
    
    grid-template-columns: repeat(3, 330px);
    /* 각 행(세로줄)의 길이 */
    grid-template-rows: repeat(6, 180px); /* 각 열(가로줄)의 길이 */
    gap: 20px; /* 자식요소간의 간격 */
  }
  .temp-box1 {/*플젝명*/
    user-select: none;
     
    background: white;
    width: 100%;
    height: 100px;
    font-size: 25px;
    text-align: left;
  
  }
  .temp-box2 {/*내용*/
    grid-column: 1/3;
 
    background: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 2px solid #ffebb5;
    border-radius: 16px;
    box-shadow: inset 0 0 4px #deb13a;  
    text-align: left;
    bottom:80px;
    position: relative;
  
  }
  .temp-box3 { /*참여명단*/
    
    grid-column: 3;
    background: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: left;
    border: 2px solid #ffebb5;
    border-radius: 16px;
    box-shadow: inset 0 0 4px #deb13a;  

    bottom:80px;
    position: relative;
 
  }
  a { 
    text-decoration:none ;
      color: inherit;
  }