#scrollbar::-webkit-scrollbar {
  width: 1vw;
  height: 0.7vw;
}
#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

#scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
