@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.main{
    background-image:url(../images/background.jpg);
    display:grid;
    align-items:center;
    justify-content:center;
}

.language-field > div{
    display:inline-block;
}

.language-field{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-items:stretch;
    align-items:center;
}

.language-field > div{
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0;
    margin:0.1rem;
}


input[type='checkbox']{
    display:none;
}

input[type='checkbox'] + label{
    border:1px solid #888;
    display:inline-block;
    padding:0.5rem;
    white-space:pre;
    width:100%;
    border-radius:4px;
    user-select:none;
    cursor:pointer;
}
input[type='checkbox']:checked + label{
    border:1px solid #333;
    background-color:#333;
    color:#FFF;
    user-select:none;
}