@charset "utf-8";

/* 레이아웃 */
.row{width:1200px; margin: 0 auto;}
header{position: fixed;
   background:#fff; width:100%; z-index: 1000;
   box-shadow:0 3px 5px rgba(0,0,0,.1);
}
nav{padding-top:40px; }
section{}

/* 헤더 */
.header_top{
   border-bottom: 1px solid #ccc; 
}
.header_top .header_cont{display:flex;}
.header_top .title{width:40%; border-right:1px solid #ccc;}
.header_top .title p{
    padding-left:14px; font-weight:bold; 
    font-size:14px; 
    height:40px; line-height: 40px;}
.header_top .header_nav{width:70%; }
.header_top .header_nav ul{display:flex;}
.header_top .header_nav ul li{
    width:20%; height:40px;  
    border-right:1px solid #ccc;
    text-align: center;
    line-height:40px;
    }
.header_top .header_nav ul li a{}  

/* 전체 메뉴 */
nav{}
.nav_bar{background-color: rgb(13, 55, 240); height:30px;}
.nav_bar .nav_gnb{line-height: 30px;}
.nav_bar .nav_gnb ul{}
.nav_bar .nav_gnb ul li{display: inline-block; padding:0 170px;}
.nav_bar .nav_gnb ul li a{font-size:15px; color:#fff;}

.nav_bar .nav_bg{margin-top: -11px;}
.nav_bar .nav_bg .navbox{display:inline-block; vertical-align: top; width:33%; margin-top:20px;}
.nav_bar .nav_bg .navbox h3{font-size:15px; color:rgb(20, 16, 235); 
    font-weight:600; padding-bottom:10px;
    border-right: 1px solid #fff; text-align: center; height:10px;}
.nav_bar .nav_bg .navbox ul{margin-top:10px;}
.nav_bar .nav_bg .navbox ul li{padding:1px 0; text-align: center; height:15px;}
.nav_bar .nav_bg .navbox ul li a{}

/* 게시판 */
.cont1{}
.cont1 .notice {height:350px;}
.cont1 .notice h4 {font-size: 24px; color: #fff; padding-bottom: 3px; font-weight: bold; color:black; font-family: 'Nanum Brush Script'}
.cont1 .notice ul li {padding-left: 8px;}
.cont1 .notice ul li a {font-size: 16px;}

/* 게시판2 */
.cont2{}
.cont2 .notice2 {height:350px;}
.cont2 .notice2 h4 {font-size: 24px; color: #fff; padding-bottom: 3px; font-weight: bold; color:black;font-family: 'Nanum Brush Script'}
.cont2 .notice2 ul li { padding-left: 8px;}
.cont2 .notice2 ul li a {font-size: 16px;}

/* 게시판3 */
.cont3{}
.cont3 .notice3 {height:350px;}
.cont3 .notice3 h4 {font-size: 24px; color: #fff; padding-bottom: 3px; font-weight: bold; color:black; font-family: 'Nanum Brush Script'}
.cont3 .notice3 ul li {padding-left: 8px;}
.cont3 .notice3 ul li a {font-size: 16px;}

/* 게시판4 */
.cont4{}
.cont4 .notice4 {height:350px;}
.cont4 .notice4 h4 {font-size: 24px; color: #fff; padding-bottom: 3px; font-weight: bold; color:black; font-family: 'Nanum Brush Script'}
.cont4 .notice4 ul li {padding-left: 8px;}
.cont4 .notice4 ul li a {font-size: 16px;}