#todo-grid{
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

#todo-grid .glass{
    height:100%;
}

#todo-grid .finderFilter .wrapper{
    display: flex;
    flex-direction:column;
    gap:0.5rem;
}

#todo-grid #todo-maker form{
    padding:0;
    max-width:none;
    
}

#todo-grid fieldset{
    padding:0;
    margin-top:0.5rem;
}


#todo-grid #todo-maker fieldset legend{
    text-align:left;
}


#todo-grid #todo-maker #project-participation{
    display:flex;
    align-items:stretch;
    flex-wrap:wrap;
    margin-top:1rem;
    gap:0.5rem;
}

#todo-grid #todo-maker #project-participation > div{
    flex-basis:1;
    flex-grow:1;
    flex-shrink:0;
    display:inline-block;
}

#todo-grid #todo-maker #project-participation input[type='checkbox']{
    display:none;
}

#todo-grid #todo-maker #project-participation input[type='checkbox'] + label{
    padding:0.5rem;
    display:block;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.2);
    border:1px solid #888;
    cursor:pointer;
    border-radius:4px;
    text-align:center;
}

#todo-grid #todo-maker #project-participation input[type='checkbox']:checked +label{
    background-color:#222;
    border:1px solid #222;
    color:#FFF;
}