<header>
    <div class="header">
        <div class="flex-mode">
            <div class="title flex-mode" style="justify-content:left;">
                <a href="/"><%= site_title %></a>
            </div>
            <div class="flex-mode" style="justify-content:right;">
                <a href="/users/profile?userid=<%= data.user.id %>"><%= data.user.userid %></a>
                <a href="/project/my">내 프로젝트</a>
                <a href="/users/logout">로그아웃</a>
            </div>
        </div>
    </div>
</header>
<nav>
    <a href="/project/list">프로젝트</a>
    <a href="/users/list">프로필</a>
    <a href="/todo/list">TODO</a>
</nav>