<header>
    <h1 class="ir_pm">header</h1>
        <div class="header_top">
        <div class="row">
            <div class="header_cont">
        <div class="title">
            <p>OSS &amp; 말많은양의왕</p>
        </div>
        <div class="header_nav">
            <ul>
                <li><a href="">이름</a></li>
                <li><a href="">내정보</a></li>
                <li><a href="">프로젝트</a></li>
                <li><a href="">프로필</a></li>
                <li><a href="">로그아웃</a></li>    
            </ul>
        </div>    
    </div>
</div>
</div>                 
</header>