<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title><%= site_title %></title>
<link type="text/css" rel="stylesheet" href="stylesheets/common.css">
<link type="text/css" rel="stylesheet" href="stylesheets/index.css">
<link type="text/css" rel="stylesheet" href="stylesheets/header.css">
<% css.forEach( item => { %>
    <link type="text/css" rel="stylesheet" href="stylesheets/<%= item %>.css">

<% }); %>
<script type="text/javascript" src="script.js"></script>